
################################################################################
#
# * This file is part of BadPixxel Dolibarr Helper Library.
# *
# * Copyright (C) 2015-2019 BadPixxel  <www.badpixxel.com>
# *
# * This program is distributed in the hope that it will be useful,
# * but WITHOUT ANY WARRANTY; without even the implied warranty of
# * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# *
# * For the full copyright and license information, please view the LICENSE
# * file that was distributed with this source code.
#
################################################################################

################################################################################
# Travis CI Configuration File
################################################################################

# Tell Travis CI we're using PHP
language: php

# Tell Travis CI we're using Cache
cache:
  directories:
    - $HOME/.composer/cache
    
# Specify versions of Php & Dolibarr to test against
# DOL   = Github Branch
matrix:
    include:

#        # Dolibarr Develop Branch       
#        - php: 7.3
#          env: DOL=develop
#        - php: 7.1
#          env: DOL=develop    

        # Dolibarr V9.0 Branch       
        - php: 7.2
          env: DOL=9.0
        - php: 7.1
          env: DOL=9.0     

#        # Dolibarr V8.0 Branch       
#        - php: 7.2
#          env: DOL=8.0
#        - php: 7.1
#          env: DOL=8.0
        
          
    allow_failures:
        - env: DOL=develop
          
        
    # Fast finish allows to set the build as "finished" even if the "allow_failures" matrix elements are not finished yet.
    fast_finish: true
    
install:
    # Disable Xdebug ...
    - phpenv config-rm xdebug.ini
    - phpenv config-add build/x_memory.ini
    
before_script:
  
    - export DOL_BUILD_DIR=/tmp/Dolibarr
    - export PLUGIN_SLUG=$(basename $(pwd))
    
    - |
      echo Start travis
      echo Current dir is `pwd`
      echo Home dir is `echo ~`
      echo TRAVIS_BUILD_DIR is $TRAVIS_BUILD_DIR
      echo DOL_BUILD_DIR is $DOL_BUILD_DIR
      echo PLUGIN_SLUG is $PLUGIN_SLUG
  
    # Clone Dolibarr & Move to Web folder
    - git clone --depth=1 --branch="$DOL" https://github.com/Dolibarr/dolibarr.git $DOL_BUILD_DIR

    # Copy Splash Module to Dolibarr folder
    - cp -Rf $TRAVIS_BUILD_DIR/*                $DOL_BUILD_DIR/htdocs/custom/
    - cp -Rf $TRAVIS_BUILD_DIR/.git/            $DOL_BUILD_DIR/htdocs/custom/.git/
    - cp "$TRAVIS_BUILD_DIR/.travis.yml"        "$DOL_BUILD_DIR/htdocs/custom/.travis.yml"

    # Run Composer
    - cd "$DOL_BUILD_DIR/htdocs/custom/"
    - composer update 
    
script: 
    
    # Move to Dolibarr Root Dir
    - cd "$DOL_BUILD_DIR/htdocs/custom"    
    
    # Run Grump Main Test Sequence
    - php ./splash/vendor/bin/grumphp run --testsuite=travis
    # With PHP > 7.1 => Execute CsFixer
    - if [[ ${TRAVIS_PHP_VERSION:0:3} > "7.1" ]]; then php ./splash/vendor/bin/grumphp run --testsuite=csfixer; fi    
    # With PHP > 7.1 => Execute Phpstan 
    - if [[ ${TRAVIS_PHP_VERSION:0:3} > "7.1" ]]; then php ./splash/vendor/bin/grumphp run --testsuite=phpstan; fi      
            
notifications:
  email:         
    on_success: never # default: change
    on_failure: never # default: always

after_success:
    # Display Full List of Executed Tests    
    - cat coverage/executed.txt
    
after_failure:

    