includes:
	- ../../../vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrap: "./phpstan.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 
    universalObjectCratesClasses:
            - ArrayObject
    ignoreErrors: 
        - '#Parameter \\#1 \\$unit of function measuring_units_string expects int, string given.#'